* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#lightbox {
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 10;
    background-color: paleturquoise;
    padding: 5% 5%;
    border-radius: 31px;
}

#lightbox>a {
    position: absolute;
    top: 20px;
    right: 27px;
    font-family: sans-serif;
    color: black;
}

#lightbox>h2 {
    color: black;
    font-size: 1.5em;
}

#lightbox>form>div {
    height: 4em;

}

#lightbox>form>div>label {
    color: black;
}

#lightbox>form>div>input {
    width: 19em;
    height: 2em;
}

#sendButton {
    margin-top: 1em;
}
#subscribe{
        display: flex;
        flex-direction: column;
        align-items: center;
    
}
#help{
    color: var(--bs-secondary-color);
    background-color: var(--bs-secondary-bg);
    border-radius: 3em;
    position: fixed;
    bottom: 2em;
    left: 2em;
}
